@import "./variables";
@import "./mixins";

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
  background-color: color(white);
  color: color(third); 
}

.container {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media only screen and (max-width: 1700px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media only screen and (max-width: 599px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}


form {
  input {
    border: none;
    background-color: transparent;
    color: color(third);
    
    &:focus {
      outline: none;
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

