$html-font-size: 16px;

$primary: #FD2D01;
$secondary: #FFD7D7 ;
$third: #4E5166; 

$fourth: #df0000; 
$fifth: #f8f8f8;
$white: white;
$black: black;

:root {
	--primary: #{$primary};
	--secondary: #{$secondary};
	--third: #{$third};
	--fourth: #{$fourth};
	--fifth: #{$fifth};
	--white: #{$white};
	--black: #{$black};
}