$primary: #FD2D01;
$secondary: #FFD7D7 ;
$third: #1b2730; //post

$fourth: #05141c; // body
$fifth: #28353e; // btn

$white: white;
$black: black;

:root {
	--primary: #{$primary};
	--secondary: #{$secondary};
	--third: #{$third};
	--fourth: #{$fourth};
	--fifth: #{$fifth};
	--white: #{$white};
	--black: #{$black};
}