@import "../../common/variables";
@import "../../common/mixins";

.button-wrapper {
    
    &.btn {
        &-primary {
            
            button {
                @include flex(row, nowrap, center, center);
                background-color: color(secondary);
                color: color(thrid);
                width: 100%;
                border-radius: 5px;
                padding: 12px 8px;
                border: none;
                cursor: pointer;

                svg {
                    margin-right: 8px;
                }
            }
        }

        &-secondary {
            .button-wrapper__content {
        
            }
        }
    }
    
}


