@import "../../common/variables";
@import "../../common/mixins";

.button-wrapper {
    
    &.btn {
        &-primary {
            
            button {
                @include flex(row, nowrap, center, center);
                background-color: color(secondary);
                color: color(thrid);
                width: 100%;
                border-radius: 5px;
                padding: 12px 8px;
                border: none;
                cursor: pointer;

                svg {
                    margin-right: 8px;
                }
            }
        }

       
    }
    
}

button {
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.publish-btn {
    background-color: color(primary);
    color: color(white);
    font-weight: 600;
    padding: 5px 12px;
    width: fit-content;
    transition: all .3s ease-in;
    border: solid 2px color(primary);
    border-radius: 5px;

    &:hover {
        border: solid 2px color(fourth);
        background-color: color(fourth);
    }
}

.clearImage-btn {
    background-color: color(white);
    color: color(primary);
    font-weight: 600;
    padding: 5px 12px;
    width: fit-content;
    transition: all .3s ease-in;
    margin-right: 5px;
    border: solid 2px color(primary);
    border-radius: 5px;

    &:hover {
        border: solid 2px color(fourth);
        background-color: color(fourth);
        color: color(white);
    }
}


