@import "../../common/variables";
@import "../../common/mixins";

.comment-Container {
    background-color: color(fifth);
    margin-top: 18px;
    border-radius: 5px;

    .comment-Content {
        padding: 20px 8px;
        padding-bottom: 0;

        .comment-wrapper {
            @include flex(row, nowrap, initial, center);
            gap: 18px;

            p {
                width: calc(100% - 65px);
                border-bottom: solid 3px color(secondary);
            }
        }

        .like-wrapper {
            width: calc(100% - 135px);
            margin: 0 auto;
            margin-top: 5px;
        }
    }

    .handle-wrapper {
        display: flex;
        gap: 18px;
    }

}