@import "../../common/variables";
@import "../../common/mixins";


.myTable {
    width: 100%;
    &-content {
        width: 100%;
        thead {
            width: 100%;
        }

        tbody {

            tr {
                height: 35px;
                td {
                    text-align: center;
                }
            }
            
        }
    }
}